{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Search Ride (Ride Sharers)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura&amp;display=swap">
    <link rel="stylesheet" href="{% static 'css/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'css/Banner-Heading-Image-images.css'%}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Basic-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/Multi-step-form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navbar-Centered-Links-icons.css' %}">
</head>

<body class="d-flex flex-column h-100 min-vh-100">
    <div class="modal fade" tabindex="-1" id = "log-out-button">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Log Out</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure to Log Out?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-primary" role="button" href="{% url 'logout' %}">Continue</a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand sticky-top py-3" style="height: 120px;width: auto;padding: 16px 0px;text-align: center;position: relative;overflow: visible;transform: translate(0px);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img class="border rounded" src="{% static 'img/duber.png' %}" width="50"></span><span>&nbsp;&nbsp;<strong style="color: #012169;">Duber</strong></span></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'myrides' %}">My rides</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'request_ride' %}">Request new rides</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'search_ride' %}">Search rides</a></li>
                </ul>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col px-1">
                                <p class="lh-sm fw-light" style="margin-bottom: 0px;font-weight: bold;padding: 2px;padding-bottom: 0px;">Welcome {{ user.first_name }}<br><br></p>
                            </div>
                            <div class="col px-1"><a class="btn btn-primary" role="button" style="font-weight: bold;border-style: solid;" href="{% url 'setting' %}">Settings</a></div>
                            <div class="col align-middle"><a class="btn btn-primary text-bg-light px-1" role="button" data-bs-toggle="modal" data-bs-target="#log-out-button">Logout</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="w-75 m-auto d-flex">
        <div class="card w-75 m-auto">
            <div class="card-body">
                <h4 class="card-title" style="text-align: center;">Search Duber Ride</h4>
                <form id="search_ride_sharer_form" method="POST" action="{% url 'sharer_search_result' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col col-sm-2"><label class="col-form-label" style="color: var(--bs-primary);font-weight: bold;">Destination Addr.</label></div>
                        <div class="col"><input class="form-control col-sm-10" type="text" name="dst_addr" placeholder="1234 Main St."></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col col-sm-2"><label class="col-form-label" style="color: var(--bs-primary);font-weight: bold;">Arrival Window</label></div>
                        <div class="col col-sm-4"><input class="form-control" type="datetime-local" name="arrival_window_first"></div>
                        <div class="col col-sm-1"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right-short w-100" style="font-size: 34px;">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"></path>
                            </svg></div>
                        <div class="col col-sm-4"><input class="form-control" type="datetime-local" name="arrival_window_second"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col col-sm-2"><label class="col-form-label" style="color: var(--bs-primary);font-weight: bold;">Num. of Passengers</label></div>
                        <div class="col"><input class="form-control" type="number" name="num_passenger_owner_party" min="1"><span style="color: var(--bs-primary);font-style: italic;font-size: 13px;">The number of passenger must be larger than zero</span></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col" style="text-align: center;"><a class="btn btn-primary" type="submit" onclick="redirectToSetting1()"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search" >
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                                </svg>&nbsp; Search</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="text-center bg-primary mt-auto w-100" style="height: 218.983px">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" href="#">Home</a></li>
                <li class="list-inline-item me-4"><a class="link-light" href="#">About</a></li>
                <li class="list-inline-item"><a class="link-light" href="#">Contact</a></li>
            </ul>
            <p style="color: var(--bs-white);">Created by Fangcheng (fg96) and Kenan (kd305)</p>
            <p style="color: var(--bs-white);">Copyright © 2024 Duber</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script>
        function redirectToSetting1() {
            function isPositiveInteger(value) {
                return Number.isInteger(value)  && value > 0 && value<= 7 ;
            }
            var new_dst_addr = document.forms["search_ride_sharer_form"]["dst_addr"].value;
            var new_first = document.forms["search_ride_sharer_form"]["arrival_window_first"].value;
            var new_second = document.forms["search_ride_sharer_form"]["arrival_window_second"].value;
            var new_number = document.forms["search_ride_sharer_form"]["num_passenger_owner_party"].value;
            var isError = false;
            var message = "";
            if (new_dst_addr == null || new_dst_addr == "") {
                message += "Destination Address is blank, please fill in all required fields\n";
                isError = true;
            }
            if (new_first == null || new_first == "") {
                message += "Arrival Window is blank, please fill in all required fields\n";
                isError = true;
            }
            if (new_second == null || new_second == "") {
                message += "Arrival Window is blank, please fill in all required fields\n";
                isError = true;
            }
            if (isPositiveInteger(parseInt(new_number)) === false){
                message += "Passenger Number should be equal or less than 7, please fill in all required fields\n";
                isError = true;
            }
            if (isError) {
                alert(message);
            }else{
                document.getElementById("search_ride_sharer_form").submit();
            }
        }
    </script>
</body>

</html>